# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv/
env/
venv/
ENV/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Logs
*.log

# Temporary files
*.tmp
*.temp

# PDF / TXT test files (optional)
*.pdf
*.txt
